/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: rgba(0, 0, 40, 1);
  --dec-color: rgba(255, 0, 112, 1);
  --dec-zone-color: rgba(255, 0, 112, 1);
  --header__theme-menu-but-color:rgba(255, 0, 112, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
  --title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-text: rgba(0, 0, 40, 1);
  --card-text-color:rgba(241, 178, 206, 1);
}