/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.decorative-rec {
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--dec-color);
  display: block;
  position: absolute;
  top: 10px;
  right: 8px;
}

.decorative-rec::after {
  content: "";
  background-color: var(--dec-color);
  margin-left: 10px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--dec-color);
}