/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  padding: 0 10px 66px 10px;
}

.header__theme-menu {
  display: grid;
  justify-self: right;
  margin-block-start: 71px;
  margin-block-end: 66px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  width: 70px;
  justify-content: space-between;
  gap: 11.5px;
}

.header__theme-menu-button {
  min-width: 70px;
  height: 26px;
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--header__theme-menu-but-color);
  text-transform: lowercase;
  background-color: transparent;
  border-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header__theme-menu-but-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header__theme-menu-but-color);
  pointer-events: none;
}

.header__theme-menu-item {
  list-style: none;
}

.decorative-rec {
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--dec-color);
  display: block;
  position: absolute;
  top: 10px;
  right: 19px;
}

.decorative-rec::after {
  content: "";
  background-color: var(--dec-color);
  margin-left: 10px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--dec-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--dec-zone-color);
  border-right: 1px solid var(--dec-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--dec-zone-color);
  border-left: 1px solid var(--dec-zone-color);
}

.header_title {
  font-family: 'IBM Plex mono', serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  margin-block-end: 55px;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-color-text);
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: bold;
}

.title_text-container {
  display: inline-block;
  height: fit-content;
  justify-self: right;
}

.title_text {
  width: 355px;
  padding-right: 32px;
  line-height: 23.4px;
  text-align: left;
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 10px 0 10px;
  margin-block-end: 40px;
}

.section {
  display: grid;
  gap: 20px;
}

.section_header {
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--dec-zone-color);
  line-height: 23.4px;
}

.card-title {
  margin-block-end: 10px;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card-text {
  font-family: 'IBM Plex mono', serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--card-text-color);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.card-text:last-child {
  margin-block-end: 0;
}

.concentration_card-text {
  padding: 0 3.97px 0 0;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--card-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--card-text-color);
}

.advice-title {
  line-height: 23.4px;
  margin-block-end: 20px;
}

.advice-item {
  font-weight: 400;
  margin-block-end: 10px;
  line-height: 23.4px;
}

.gallery-title {
  line-height: 23.4px;
  margin-block-end: 10px;
}

.gallery-img {
  display: grid;
  gap: 10px;
}

.img {
  width: 355px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-block-start: 32px;
  padding: 0 10px 0 10px;
}

.footer-title {
  font-family: 'IBM Plex mono', serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
  top: 19px;
  right: 19px;
}

.decorated-zone::after {
  bottom: 19px;
  left: 19px;
}

.decorative-rec {
  top: 20px;
  right: 28px;
}

.header {
  min-height: 1024px;
  margin-block-end: 60px;
  padding: 0 20px 183px 0;
}

.header__theme-menu {
  margin-block-start: 186px;
  margin-block-end: 140px;
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 38px;
  margin-block-end: 159px;
  text-align: start;
}

.title_text {
  width: 364px;
}

.main {
  padding: 0 20px 0 20px;
  margin-block-end: 60px;
  gap: 80px;
}

.concentration, .advice {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
}

.reason_header {
  width: 236px;
}

.gallery {
  gap: 18px;
}

.gallery-title {
  margin-block-end: 20px;
}

.gallery-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 728px;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  min-height: 1024px;
  padding: 0 20px 0 20px;
}

.footer-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
}

@media (min-width: 1024px) {
  
.header {
  min-height: 768px;
}

.header__theme-menu {
  margin-top: 0;
  padding-top: 17px;
  padding-left: 10px;
  justify-self: center;
  width: 230px;
  margin-block-end: 123px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-block-start: 153px;
  margin-block-end: 114px;
}

.title_text {
  width: 491px;
  padding-right: 0;
}

.concentration {
  gap: 10px;
}

.concentration_card-text {
  padding: 0;
}

.reason_header {
  width: 315px;
}

.reason-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advice {
  gap: 11px;
}

.gallery-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 984px;
}

.footer {
  min-height: 768px;
  padding: 0 20px 0 20px;
}
}